* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Sen", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.main {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  padding: 18px 0;
  display: inline-block;
  border-radius: 25px;
  background-color: #171100;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  transition: background-color 300ms;
}

.btn:hover {
  background-color: #ffb900;
}

#navigation {
  padding-top: 36px;
  padding-bottom: 8px;
  background-color: #fffcf4;
  position: sticky;
  top: -28px;
}

#navigation .main {
  display: flex;
  align-items: center;
}

#navigation .menu {
  margin-left: 498px;
  display: flex;
  align-items: center;
  gap: 28px;
}

#navigation .menu a {
  padding: 3px 7px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  transition: background-color 300ms;
}

#navigation .menu a:hover {
  border-radius: 5px;
  background-color: #d9ead3;
}

.nav-btn {
  padding: 17px 41px;
  margin-left: auto;
  font-size: 1.6rem;
  border-radius: 24.5px;
}
