* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Sen", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.main {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  padding: 18px 0;
  display: inline-block;
  border-radius: 25px;
  background-color: #171100;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  transition: background-color 300ms;
}

.btn:hover {
  background-color: #ffb900;
}

#navigation {
  padding-top: 36px;
  padding-bottom: 8px;
  background-color: #fffcf4;
  position: sticky;
  top: -28px;
}

#navigation .main {
  display: flex;
  align-items: center;
}

#navigation .menu {
  margin-left: 498px;
  display: flex;
  align-items: center;
  gap: 28px;
}

#navigation .menu a {
  padding: 3px 7px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  transition: background-color 300ms;
}

#navigation .menu a:hover {
  border-radius: 5px;
  background-color: #d9ead3;
}

.nav-btn {
  padding: 17px 41px;
  margin-left: auto;
  font-size: 1.6rem;
  border-radius: 24.5px;
}

#header {
  padding-top: 56px;
  padding-bottom: 65px;
  background-color: #fffcf4;
}

#header .main {
  display: flex;
  gap: 230px;
}

#header .media {
  position: relative;
}

#header .media .thumb {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

#header .about-card {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 393px;
  left: 300px;
}

#header .about-card .body {
  padding: 24px;
}

#header .about-card .item {
  margin-bottom: 14px;
  display: flex;
  gap: 16px;
  align-items: center;
}

#header .about-card .item:last-child {
  margin-bottom: 0;
}

#header .about-card .icon {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--icon-bg-color);
  justify-content: center;
  align-items: center;
}

#header .about-card .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}

#header .about-card .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}

#header .content .title {
  margin-top: 64px;
  color: #171100;
  font-family: "Sen";
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.02em;
}

#header .content .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

#header .header-cta {
  margin-top: 38px;
  display: flex;
}

.header-cta .header-btn {
  padding: 25px 46px;
  border-radius: 32px;
  font-size: 18px;
}

.header-cta .link {
  margin-left: 28px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-cta .link::after {
  content: "Watch Video";
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
  position: absolute;
  left: 0;
  transition: padding-left 300ms;
}

.header-cta .link .icon {
  opacity: 0;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
  transition: opacity 300ms;
}

.header-cta .link:hover::after {
  padding: 25px 0 25px 54px;
}

.header-cta .link:hover .icon {
  opacity: 1;
}

#header .content .sub-title {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

#header .content .stat {
  margin-top: 8px;
  display: flex;
  gap: 28px;
}

#header .content .stat .item {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}

#header .content .stat strong {
  color: #171100;
  font-family: "Sen";
  font-size: 4.4rem;
  font-weight: 700;
}

#course .main {
  padding-top: 200px;
  padding-bottom: 200px;
}

#course .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#course .row .sub-title {
  color: #171100;
  font-family: "Sen";
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}

#course .row .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}

#course .button-wrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

#course .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  border-radius: 50%;
  background-color: #fff;
  transition: 300ms;
}

#course .control-btn svg {
  stroke: #ffb900;
  transition: 300ms;
}

#course .control-btn:hover {
  cursor: pointer;
  background-color: #ffb900;
}

#course .control-btn:hover svg {
  stroke: #fff;
}

.list-course {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.list-course .item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  flex: 1;
}

.list-course .item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.list-course .info {
  padding: 16px 22px 22px;
}

.list-course .heading,
.list-course .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-course .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.list-course .score {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
}

.list-course .desc {
  margin-top: 6px;
  margin-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
}

.list-course .pricing {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.list-course .course-btn {
  padding-left: 24px;
  padding-right: 24px;
}
