* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Sen", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.main {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  padding: 18px 0;
  display: inline-block;
  border-radius: 25px;
  background-color: #171100;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  transition: background-color 300ms;
}

.btn:hover {
  background-color: #ffb900;
}

#navigation {
  padding-top: 36px;
  padding-bottom: 8px;
  background-color: #fffcf4;
  position: sticky;
  top: -28px;
  z-index: 1;
}

#navigation .main {
  display: flex;
  align-items: center;
}

#navigation .menu {
  margin-left: 498px;
  display: flex;
  align-items: center;
  gap: 28px;
}

#navigation .menu a {
  padding: 3px 7px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  transition: background-color 300ms;
}

#navigation .menu a:hover {
  border-radius: 5px;
  background-color: #d9ead3;
}

.nav-btn {
  padding: 17px 41px;
  margin-left: auto;
  font-size: 1.6rem;
  border-radius: 24.5px;
}

#header {
  padding-top: 56px;
  padding-bottom: 65px;
  background-color: #fffcf4;
}

#header .main {
  display: flex;
  gap: 230px;
}

#header .media {
  position: relative;
}

#header .media .thumb {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

#header .about-card {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 393px;
  left: 300px;
}

#header .about-card .body {
  padding: 24px;
}

#header .about-card .item {
  margin-bottom: 14px;
  display: flex;
  gap: 16px;
  align-items: center;
}

#header .about-card .item:last-child {
  margin-bottom: 0;
}

#header .about-card .icon {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--icon-bg-color);
  justify-content: center;
  align-items: center;
}

#header .about-card .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}

#header .about-card .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}

#header .content .title {
  margin-top: 64px;
  color: #171100;
  font-family: "Sen";
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.02em;
}

#header .content .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

#header .header-cta {
  margin-top: 38px;
  display: flex;
}

.header-cta .header-btn {
  padding: 25px 46px;
  border-radius: 32px;
  font-size: 18px;
}

.header-cta .link {
  margin-left: 28px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-cta .link::after {
  content: "Watch Video";
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
  position: absolute;
  left: 0;
  transition: padding-left 300ms;
}

.header-cta .link .icon {
  opacity: 0;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
  transition: opacity 300ms;
}

.header-cta .link:hover::after {
  padding: 25px 0 25px 54px;
}

.header-cta .link:hover .icon {
  opacity: 1;
}

#header .content .sub-title {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

#header .content .stat {
  margin-top: 8px;
  display: flex;
  gap: 28px;
}

#header .content .stat .item {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}

#header .content .stat strong {
  color: #171100;
  font-family: "Sen";
  font-size: 4.4rem;
  font-weight: 700;
}

#course .main {
  padding-top: 200px;
  padding-bottom: 200px;
}

#course .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#course .row .sub-title {
  color: #171100;
  font-family: "Sen";
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}

#course .row .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}

#course .button-wrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

#course .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  border-radius: 50%;
  background-color: #fff;
  transition: 300ms;
}

#course .control-btn svg {
  stroke: #ffb900;
  transition: 300ms;
}

#course .control-btn:hover {
  cursor: pointer;
  background-color: #ffb900;
}

#course .control-btn:hover svg {
  stroke: #fff;
}

.list-course {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.list-course .item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  flex: 1;
}

.list-course .item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.list-course .info {
  padding: 16px 22px 22px;
}

.list-course .heading,
.list-course .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-course .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.list-course .score {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
}

.list-course .desc {
  margin-top: 6px;
  margin-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
}

.list-course .pricing {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.list-course .course-btn {
  padding-left: 24px;
  padding-right: 24px;
}

#testimonial {
  background-color: #2e2100;
}

#testimonial .main {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  gap: 241px;
}

#testimonial .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

#testimonial .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: "Sen";
  font-size: 2.4rem;
  font-weight: 700;
  white-space: nowrap;
}

#testimonial .desc {
  margin-top: 8px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

#testimonial .control,
#blog .control {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 6px;
}

#testimonial .control-btn,
#blog .control-btn {
  padding: 0;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  background-color: #634700;
  transition: 300ms;
}

#testimonial .control-btn:hover,
#blog .control-btn:hover {
  cursor: pointer;
  background-color: #ffb900;
}

#testimonial .content .desc {
  margin-left: 30px;
  width: 740px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  white-space: wrap;
}

#feature {
  margin-top: 200px;
  margin-bottom: 200px;
}

#feature .main {
  display: flex;
  gap: 130px;
}

#feature .media {
  display: flex;
  gap: 30px;
}

#feature .thumb {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

#feature .media .lower {
  margin-top: 34px;
}

#feature .content .sub-title {
  margin-top: 58px;
  color: #171100;
  font-family: "Sen";
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}

#feature .content .desc,
#feature .content .short-desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}

#feature .feature-btn {
  margin-top: 32px;
  font-size: 1.6rem;
  padding: 17px 38px;
  border-radius: 26px;
}

#cta {
  margin-bottom: 200px;
}

#cta .main {
  display: flex;
  gap: 130px;
}

#cta .sub-title {
  margin-top: 71px;
  color: #171100;
  font-family: "Sen";
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}

#cta .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}

#cta .cta-btn {
  margin-top: 32px;
  padding: 18px 36px 18px 37px;
  border-radius: 26px;
}

#cta .media .thumb {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}

#blog {
  background-color: #fffcf4;
}

#blog .main {
  padding-top: 96px;
  padding-bottom: 96px;
}

#blog .sub-title {
  color: #130606;
  text-align: center;
  font-family: "Sen";
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#blog .blog-desc {
  margin: 16px auto 55px;
  width: 448px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}

.list-blog {
  display: flex;
  gap: 30px;
}

.list-blog .item {
  flex: 1;
  border-radius: 16px;
  background: #fff;
}

.list-blog .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.list-blog .info {
  padding: 20px 20px 28px;
}

.list-blog .date {
  margin-left: 8px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
}

.list-blog .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffb900;
  position: absolute;
  top: 25%;
  left: -8px;
}

.list-blog .date::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  position: absolute;
  left: -8px;
  bottom: -12px;
}

.list-blog .desc {
  margin-top: 25px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
}

.blog-btn {
  padding-left: 21px;
  padding-right: 21px;
  margin-top: 12px;
}

#blog .control {
  margin-top: 38px;
  justify-content: center;
}

#footer {
  background-color: #2e2100;
}

#footer .footer-link {
  padding-top: 96px;
  padding-bottom: 67px;
  display: flex;
  gap: 130px;
}

.footer-link .col:first-child {
  margin-right: 15px;
}

.footer-link .desc {
  margin-top: 18px;
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}

.footer-link .social {
  margin-top: 18px;
  display: flex;
}

.footer-link .social .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 300ms;
}

.footer-link .social .icon:hover {
  background-color: #f7f7f766;
}

.footer-link .title {
  margin-bottom: 43px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
}

.footer-link .title::after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 1px;
  background-color: #59554b;
  position: absolute;
  bottom: -14px;
  left: 0;
}

.footer-link .link {
  margin-top: 12px;
}

.footer-link .link a {
  padding: 3px 7px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
  transition: 300ms;
}

.footer-link .link a:hover {
  background-color: #f7f7f766;
  border-radius: 5px;
}

.footer-link .location,
.footer-link .email,
.footer-link .phone {
  width: 231px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}

.footer-link strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 26px;
}

.copyright {
  padding-bottom: 28px;
  position: relative;
}

.copyright::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #59554b;
  position: absolute;
  top: -28px;
  left: 0;
}

.copyright p {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}
